.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    conic-gradient(at var(--m) calc(var(--s) * 0.5777), transparent 270deg, #1F316F 0deg),
    conic-gradient(at calc(100% - var(--m)) calc(var(--s) * 0.5777), #1F316F 90deg, transparent 0deg),
    conic-gradient(from -60deg at 50% calc(var(--s) * 0.8662), var(--v1)),
    conic-gradient(from -60deg at 50% calc(var(--s) * 0.8662 + 2 * var(--m)), var(--v2)),
    conic-gradient(from 120deg at 50% calc(var(--s) * 1.4435 + 3 * var(--m)), var(--v1)),
    conic-gradient(from 120deg at 50% calc(var(--s) * 1.4435 + var(--m)), var(--v2)),
    linear-gradient(90deg, #ffffff calc(50% - var(--m)), #1F316F 0 calc(50% + var(--m)), #fff 0);
  background-size: calc(var(--s) + 2 * var(--m)) calc(var(--s) * 1.732 + 3 * var(--m));
  mix-blend-mode: lighten;
  --s: 67px;
  --m: 4px;
  --v1: #1F316F 90.5deg, #5B99C2 120.5deg;
  --v2: #5B99C2 90.5deg, #1A4870 120.5deg;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(20deg, #1F316F, #1A4870, #5B99C2) left / 400% 100%;
  animation: f 4s infinite alternate linear;
}

@keyframes f {
  100% { background-position: right; }
}
